@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.card {
  width: 25rem;
  padding: 2rem ;
  height: auto;
  border-radius: 14px;
  box-shadow: -7px -7px 43px #adaaaa,
    7px 7px 43px #f3f0f0;
}

h1 {
  color: rgb(56, 56, 56);
  margin: .5rem 0;
}

p {
  color: grey;
  font-family: "Poppins", sans-serif;
}

h2{
  margin: .5rem 0;
  color: rgb(56, 56, 56);
  font-family: "Roboto Slab", serif;
}

ul li{
  list-style: none;
  margin: .3rem .5rem;
  color: grey;
  font-family: "Poppins", sans-serif;
}

.button{
  margin-top: 2rem;
}

a{
  padding: 10px;
  margin-right: .5rem;
  text-decoration: none;
  border-radius: 8px;
  color: white;
  background: rgb(11, 126, 172);
  font-family: "Poppins", sans-serif;
}

a:hover{
  background:rgb(5, 76, 104);
}