#form {
    width: 25rem;
    padding: 2rem;
    height: auto;
    border-radius: 14px;
    box-shadow: -7px -7px 43px #adaaaa,
        7px 7px 43px #f3f0f0;

}

label {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

input {
    width: 100%;
    padding: .5rem;
    border-radius: 8px;
    border: .5px solid grey;
    margin: .5rem 0;
    outline: none;
    color: black;
}

input::placeholder{
    color: grey;
}

button{
    width: 100%;
    padding: .5rem;
    border-radius: 8px;
    border:none;
    background: rgb(11, 126, 172);
    color: white;
    cursor: pointer;
    font: 1em sans-serif;
}
button:hover{
    
    background:rgb(5, 76, 104);
}